.container {
   align-items: center;
   display: flex;
   font-weight: bold;
   margin: 0 auto;
   padding-top: 1rem;
   /* width: 340px; */
}

.informacoes {
   align-items: center;
   background-color: #f1eaea;
   border-color: #416075;
   border-radius: 10px;
   border-style: solid;
   display: flex;
   justify-content: space-between;
   min-height: 100px;
   text-align: center;
   width: 340px;
}

.chamado {
   background-color: #d3fa27;
}

.icone,
.iconeChamado {
   height: 63px;
   padding-right: .5rem;
}

.sala {
   border-right: solid #416075;
   min-height: 70px;
   width: 60px;
}

.atendimento {
   text-align: left;
   padding-right: .3rem;
   width: calc(94% - 60px);
}

.informacoes h3 {
   font-size: 1.6rem;
   font-weight: 600;
}

.informacoes h4 {
   align-items: center;
   display: flex;
   font-size: 1rem;
   font-weight: 600;
   min-height: 60px;
   padding-bottom: .3rem;
}

.informacoes h5 {
   font-size: .8rem;
   padding-left: .3rem;
   width: 98%;
}

.informacoes p {
   font-size: 1rem;
}

.medico {
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.iconeMedico {
   height: 26px;
}


@media (min-width: 600px) {
   .container {
      width: 400px;
   }
}

@media (min-width: 1900px) {
   .container {
      width: 560px;
   }

   .informacoes {
      height: 12vh;
      width: 470px;
   }

   .informacoes h3 {
      font-size: 3rem;
   }

   .informacoes h4 {
      font-size: 1.6rem;
      padding-bottom: .3rem;
   }

   .informacoes h5 {
      font-size: 1.1rem;
      padding-left: .3rem;
      width: 98%;
   }

   .informacoes p {
      font-size: 1.2rem;
   }

   .iconeMedico {
      height: 4vh;
   }
}