.container {
   align-items: center;
   display: flex;
   font-weight: bold;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 1rem;
   width: 340px;
}

.informacoes {
   align-items: center;
   background-color: #f1eaea;
   border-color: #416075;
   border-radius: 10px;
   border-style: solid;
   display: flex;
   height: 100px;
   justify-content: space-between;
   text-align: center;
   width: 340px;
}

.chamado {
   background-color: #d3fa27;
}

.icone {
   height: 63px;
}

.iconeChamado {
   height: 63px;
}

.sala {
   border-right: solid #416075;
   width: 60px;
}

.atendimento {
   text-align: left;
   width: calc(94% - 60px);
}

.informacoes h3 {
   font-size: 1.6rem;
   font-weight: 600;
}

.informacoes h4 {
   font-size: 1rem;
   font-weight: 600;
   padding-bottom: .3rem;
}

.informacoes h5 {
   font-size: .8rem;
   padding-left: .3rem;
   width: 98%;
}

.informacoes p {
   font-size: 1rem;
}

.medico {
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.iconeMedico {
   height: 3vh;
}

@media (min-width: 1300px) {
   .container {
      width: 410px;
   }

   .informacoes {
      width: 355px;
   }

   .sala {
      width: 80px;
   }

   .atendimento {
      width: calc(94% - 80px);
   }

   .informacoes h3 {
      font-size: 2rem;
      font-weight: 600;
   }

   .informacoes h4 {
      font-size: 1.3rem;
      font-weight: 600;
      padding-bottom: .3rem;
   }

   .informacoes h5 {
      font-size: .8rem;
      padding-left: .3rem;
      width: 98%;
   }

   .informacoes p {
      font-size: 1rem;
   }

   .medico {
      align-items: center;
      display: flex;
      justify-content: space-between;
   }

   .iconeMedico {
      height: 3vh;
   }
}

@media (min-width: 1900px) {
   .container {
      width: 560px;
   }

   .informacoes {
      height: 12vh;
      width: 470px;
   }

   .informacoes h3 {
      font-size: 3rem;
   }

   .informacoes h4 {
      font-size: 1.6rem;
      padding-bottom: .3rem;
   }

   .informacoes h5 {
      font-size: 1.1rem;
      padding-left: .3rem;
      width: 98%;
   }

   .informacoes p {
      font-size: 1.2rem;
   }

   .iconeMedico {
      height: 4vh;
   }
}